*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 1%;
    padding: 0%;
    background-color: #0A0841;
}

.top-section{
  margin: 0%;
  padding: 3.5%;
  background-color: #16726F;
  font-size: 60px;
  font-weight:bold;
  color: white;
  text-align: center;
  font-style:normal;
  font-family: verdana;
  text-decoration: none;
  text-decoration-color: yellow;
}

.card{
    float:left;
    width: 300px;
    background-color: rgb(76, 20, 114);
    text-align: center;
    padding: 15px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    color: white;

}
.card::before{
    content: "";
    position: absolute;
    top: -250px;
    left: -50px;
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    border-radius: 50%;
}
.image{
    position: relative;
    margin: 0, auto;
    z-index: 3;
}

.container{
  align-items: center;
}

img{
    border-radius: 50%;
    border: 5px solid white;
    filter: brightness(1);
    transition: all 0.3s;
    position: relative;
    width:  220px;
    height: 220px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    object-fit: cover;

}
.links{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    opacity: 0;
    transition: all 0.3s;
    text-decoration: none;
}
.image:hover img{
    filter: brightness(0);


}
.image:hover .links{
    opacity: 1;
}
